:root {
  --theme-color: #79589f;
  --alert-color: #d81e06;
  --max-width: 800px;
  --input-width: 600px;
  --padding-left: 8px;
}
.created {
  margin: 80px auto;
  max-width: var(--max-width);
  border: 2px solid gray;
  display: none;
  z-index: 9;
}
.created li {
  list-style: none;
}
.icon {
  width: 16px;
  height: 16px;
}
.created .created-title {
  background-color: #ffffff;
  border-bottom: 1px solid gray;
  margin: 0;
  position: relative;
  padding: 2px var(--padding-left);
}
.created .created-title .icon-table {
  color: var(--theme-color);
}
.created .created-title img {
  width: 16px;
  height: 16px;
}
.created .created-title .icon-close {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.created .created-choose {
  display: flex;
  padding: 2px 0;
  background-color: #ffffff;
  margin: 0;
}
.created .created-choose li {
  padding: 0 var(--padding-left);
  line-height: 28px;
  cursor: pointer;
}
.active {
  color: var(--theme-color);
}
.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--theme-color);
}
.created .created-content {
  padding: 8px 0 100px var(--padding-left);
  background-color: rgb(241, 241, 241);
  position: relative;
  height: 418px;
}
.created .created-general{
  padding-left: 0;
}
.created .created-general li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.created .created-general li span {
  font-size: 18px;
}
.created .created-general li input,
.created .created-general li select,
.created .created-general li textarea {
  border: 1px solid rgb(241, 241, 241);
  border-radius: 3px;
  padding: 2px;
  margin-right: 8px;
  width: var(--input-width);
  box-sizing: border-box;
  outline-color: var(--theme-color);
}
.created .created-general li textarea {
  resize: none;
}
.created .created-content .empty-alert {
  width: calc(100% - var(--padding-left) - var(--padding-left));
  padding: 5px;
  position: absolute;
  bottom: 8px;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--alert-color);
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.created .created-content .empty-alert .icon-alert {
  color: var(--alert-color);
  margin-left: 8px;
}
.created .created-content .empty-alert span {
  margin-left: 8px;
  position: relative;
  top:2px;
}
.created .created-content .empty-alert .icon-close {
  position: absolute;
  right: 8px;
  color: var(--alert-color);
  cursor: pointer;
}
.created .created-botton {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.created .created-botton ul {
  display: flex;
  margin: 0;
}
.created .created-botton ul .icon-help {
  width: 14px;
  height: 14x;
}
.created .created-botton ul li {
  display: flex;
  align-items: center;
  padding: 8px 8px;
  border-radius: 3px;
  margin: 0;
  margin-right: var(--padding-left);
  border: 1px solid gray;
  cursor: pointer;
}
.created .created-botton .result .icon {
  margin-right: 3px;
}
.created .created-botton .result .icon-save {
  transform: scale(1.2);
}
.created .created-botton .result .icon-i {
  transform: scale(1.3);
  position: relative;
  top: 2px;
}
.created .created-botton .result li span{
  position: relative;
  top: 1px;
}
.created-columns{
  display: none;
}
.created-columns .table-model {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: var(--padding-left);
}
.created-columns .columns-content {
  margin-top: 5px;
  margin-right: var(--padding-left);
  background-color: #ffffff;
  border: 1px solid rgb(241, 241, 241);
}
.table-model .table-model-name{
  flex-grow: 1;
  margin-left: 24px;
  height: 30px;
  outline-color: #79589f;
  border-radius: 3px;
}
.columns-content .title{
  border-bottom: 1px solid rgb(241, 241, 241);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.columns-content .title .columns-add{
  display: flex;
  align-items: center;
  border-left: 1px solid rgb(241, 241, 241);
  cursor: pointer;
}
.columns-content .columns-list{
  display: flex;
  margin: 0;
}
.columns-content .columns-list li{
  min-width: 100px;
  padding: 16px 5px;
}
.columns-content .columns-list li~li{
  border-left: 1px solid rgb(241, 241, 241);
}
